
.container{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 800px;
}

.form{
    width: 600px;
    transition: 1s;
}


@media (max-width : 480px) {
    .image{
        display: none;
    }    
    .container{
        width: 350px;
    }
    .form{
        width: 300px;
    }
}